.container{
  overflow: hidden;
}

.list{
  position: fixed;
  z-index: 20;
  top: 0;
  right: 10px;

  @media (max-width: 500px) {
    & {
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      height: calc(50vh - 20px);
    }
  }
}

.name{
  margin: 10px 0;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.liked{
  display: flex;
  align-items: center;
  gap: 6px;

  & > svg{
    width: 25px;
    height: 25px;
    margin: 10px 0;
    color: white;
  }
  
  .count{
    margin: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
}
