.container{
  overflow: hidden;
}

.list{
  position: fixed;
  z-index: 20;
  top: 0;
  right: 10px;
}

.name{
  margin: 10px 0;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.flex{
  display: flex;
  gap: 30px;

  & > div{
    flex-grow: 1;
  }
}

.submit{
  color: white;
  background-color: #e7a618;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 600;
  border: none;
  float: right;
  
  &:disabled{
    background-color: #8d8d8d;
  }
}